<!--
  Generated template for the MediaPlayer component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

  <!--impoert JWPlayer-->
  <script src="https://content.jwplatform.com/libraries/pAtzFABX.js"></script>
<!--<ion-grid>
<ion-row responsive-sm>
    <ion-col>-->
      <div id="myMediaDiv"></div>
      <!--<video src="http://download.riversoflife.ca/riversoflife/video_miracles/video_miracles_2016/miracle_45and.mp4" width="100%" height="100%" controls></video>-->
      <!--</ion-col>
  </ion-row>
</ion-grid>-->
